* {
    margin: 0;
    background-color: #fff;
}



.container {
    display: flex;
    justify-content: center;
}

.content {
    background-color: #fff;
}

img {
    width: 80%;
    height: auto;
    margin: auto;
    display: block;
}

h1 {
    padding-left: 10px;
    padding-top: 10px;
    text-align: center;
}

p, h3 {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}


ul { font-weight: 700; padding-top: 10px; padding-bottom: 10px;}
ol {font-weight: 700; padding-top: 10px; padding-bottom: 10px;}
li {color: black; font-weight: 300;}